.container {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  padding: 1em;
  border-style: solid;
  border-color: #a11aac;
  border-radius: 5px;
}

.main {
  position: relative;
}

.section-from {
  padding-top: 10px;
}

.row-left {
  border-style: solid;
  border-color: #cb21d9;
  border-radius: 5px;
  padding: 1em;
}

.row-right {
  border-style: solid;
  border-color: #cb21d9;
  border-radius: 5px;
  padding: 1em;
}

button {
  background-color: #cb21d9;
}

button:hover {
  background-color: #9b18d9;
}
