.container {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  padding: 1em;
}
.center {
  flex-flow: column;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border: 5px solid #ffff00;
  padding: 10px;
}

.complect {
  border: ridge #a11aac;
  display: flex;
  flex-flow: column wrap;
}
.parent {
  display: flex;
}

.first {
  display: flex;
  flex-flow: column wrap;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

.second {
  display: flex;
  flex-flow: column wrap;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 15%;
}
.first * {
  padding: 5px 10px;
}

.second * {
  padding: 5px 10px;
}
