<div class="main">
  <div class="section-from">
    <div class="container">
      <div class="row">
        <div class="col col-lg-6">
          <div class="d-flex flex-column row-left">
            <label>Id:*</label>
            <textarea #id class="comment_area"></textarea>
            <label>Name:*</label>
            <textarea #name class="comment_area"></textarea>
            <label>Price*:</label>
            <input #price type="number" pattern="^[0-9]" />
            <label>ResidualPrice:</label>
            <input #residualPrice type="number" pattern="^[0-9]" />
            <label>BuildingAbbreviation*:</label>
            <textarea #address class="comment_area"></textarea>
            <label>room:</label>
            <textarea #room class="comment_area"></textarea>
            <label>DescriptionText:</label>
            <textarea #description class="comment_area"></textarea>
          </div>
        </div>
        <div class="col col-lg-6">
          <div class="d-flex flex-column row-right">
            <mat-form-field appearance="fill">
              <mat-label>PossessorId*</mat-label>
              <mat-select [(value)]="possessorSellect">
                <mat-option *ngFor="let possessor of possessors" [value]="possessor.value">
                  {{ possessor.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Purchase Date</mat-label>
              <input matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <label>LifeMonthsLeft:*</label>
            <input #pickerFilter type="number" pattern="^[0-9]" />
            <mat-form-field appearance="fill">
              <mat-label>DelicateCondition*</mat-label>
              <mat-select [(value)]="modeselect">
                <mat-option *ngFor="let delicate of delicates" [value]="delicate.value">
                  {{ delicate.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="complect">
              <mat-form-field appearance="fill">
                <mat-label>Choose main classification</mat-label>
                <mat-select [(value)]="selectClassification">
                  <mat-option *ngFor="let mainClassification of mainClassifications" [value]="mainClassification.value">
                    {{ mainClassification.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <button>Add Main Classification</button>
            </div>
            <div class="complect">
              <mat-form-field appearance="fill">
                <mat-label>Choose sub classification</mat-label>
                <mat-select [(value)]="selectSubClassification">
                  <mat-option *ngFor="let subClassification of subClassifications" [value]="subClassification.value">
                    {{ subClassification.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button>Add Sub Classification</button>
            </div>
            <div class="complect">
              <mat-form-field appearance="fill">
                <mat-label>Choose</mat-label>
                <mat-select [(value)]="selectForComplect">
                  <mat-option *ngFor="let complect of complects" [value]="complect.value">
                    {{ complect.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="selectForComplect == 'componentAssetId'">
                <mat-form-field appearance="fill">
                  <mat-label>Choose complect</mat-label>
                  <mat-select [(value)]="sellectAsset">
                    <mat-option *ngFor="let asset of majorAssets" [value]="asset.value">
                      {{ asset.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="
        adding(
          id.value,
          name.value,
          possessorSellect,
          pickerFilter.value,
          modeselect,
          price.value,
          selectSubClassification,
          selectClassification,
          residualPrice.value,
          selectForComplect,
          sellectAsset,
          address.value,
          room.value,
          description.value
        )
      "
    >
      Lisa
    </button>
  </div>
</div>
