@import "src/theme/theme-variables";

:host {
  flex: 1;
  background-color: #430b56;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-fields > :not(:last-child) {
  margin-bottom: 8px;
}

.login-error {
  color: mat-color($app-warn);
}

.yes {
  outline-color: black;
  position: relative;
  overflow: hidden;
  float: right;
  height: 100%;
  width: 10%;
  background-color: #a11aac;
}
.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #6f3d75, #450862);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.submit:hover {
  background: linear-gradient(to right, #c363cf, #9a15d9);
}
