<div *ngIf="user != null; else goLogin" class="main">
  <div class="section-from">
    <div class="container2">
      <button (click)="changeSessionStorage('property_detail', asset.id)" routerLink="/home" routerLinkActive="active">
        go back
      </button>
    </div>
    <div class="container">
      <div class="d-flex flex-column row-table">
        <table class="table table-bordered">
          <tr>
            <td>Nimi:</td>
            <td>{{ asset.name }}</td>
            <td><textarea #name class="comment_area"></textarea></td>
          </tr>
          <tr>
            <td>Nr.:</td>
            <td>{{ asset.id }}</td>
            <td><textarea #id class="comment_area"></textarea></td>
          </tr>
          <tr>
            <td>Soetusmaksumus:</td>
            <td *ngIf="asset.price === null; else price">-</td>
            <ng-template #price>
              <td>{{ asset.price }}</td>
            </ng-template>
            <td><input #priceValue type="number" pattern="^[0-9]" /></td>
          </tr>
          <tr>
            <td>Jääkväärtus:</td>
            <td *ngIf="asset.residualPrice === null; else residualPrice">-</td>
            <ng-template #residualPrice>
              <td>{{ asset.residualPrice }}</td>
            </ng-template>
            <td><input #residualPriceValue type="number" pattern="^[0-9]" /></td>
          </tr>
          <tr>
            <td>Kirjeldus :</td>
            <td *ngIf="asset.descriptionText === null; else description">-</td>
            <ng-template #description>
              <td>{{ asset.descriptionText }}</td>
            </ng-template>
            <td><textarea #descriptionText class="comment_area"></textarea></td>
          </tr>
          <tr>
            <td>PV klassi tähis:</td>
            <td *ngIf="asset.mainClass === null; else mainClass">-</td>
            <ng-template #mainClass>
              <td>{{ asset.mainClass }}</td>
            </ng-template>
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Choose main classification</mat-label>
                <mat-select [(value)]="selectClassification">
                  <mat-option *ngFor="let mainClassification of mainClassifications" [value]="mainClassification.value">
                    {{ mainClassification.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>PV alamklassi tähis:</td>
            <td *ngIf="asset.subclass === null; else subclass">-</td>
            <ng-template #subclass>
              <td>{{ asset.subclass }}</td>
            </ng-template>
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Choose sub classification</mat-label>
                <mat-select [(value)]="selectSubClassification">
                  <mat-option *ngFor="let subClassification of subClassifications" [value]="subClassification.value">
                    {{ subClassification.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Aktiivne:</td>
            <td *ngIf="asset.active === true; else active">Jah</td>
            <ng-template #active>
              <td>Ei</td>
            </ng-template>
            <td>
              <mat-checkbox *ngIf="asset.active === true; else notActive" color="primary" [(ngModel)]="isChecked">
                Ei
              </mat-checkbox>
            </td>
            <ng-template #notActive>
              <mat-checkbox color="primary" [(ngModel)]="isChecked">Jah</mat-checkbox>
            </ng-template>
          </tr>
          <tr>
            <td>Töökohtade aadressi tähis:</td>
            <td *ngIf="asset.buildingAbbreviation === null; else building">-</td>
            <ng-template #building>
              <td>{{ asset.buildingAbbreviation }}</td>
            </ng-template>
            <td><textarea #buildingAbbreviation class="comment_area"></textarea></td>
          </tr>
          <tr>
            <td>Tööruumi nr.:</td>
            <td *ngIf="asset.room === null; else room">-</td>
            <ng-template #room>
              <td>{{ asset.room }}</td>
            </ng-template>
            <td><textarea #roomValue class="comment_area"></textarea></td>
          </tr>
          <tr>
            <td>PV kasutaja nr.:</td>
            <td *ngIf="asset.userId === null; else user">-</td>
            <ng-template #user>
              <td>{{ asset.userId }}</td>
            </ng-template>
            <td><textarea #userId class="comment_area"></textarea></td>
          </tr>
          <tr>
            <td>PV kasutaja nimi:</td>
            <td *ngIf="asset.firstname === null; else person1">-</td>
            <ng-template #person1>
              <td>{{ asset.firstname }}</td>
            </ng-template>
            <td><textarea #personNameValue class="comment_area"></textarea></td>
          </tr>
          <tr>
            <td>PV kasutaja perekonnanimi:</td>
            <td *ngIf="asset.lastname === null; else person2">-</td>
            <ng-template #person2>
              <td>{{ asset.lastname }}</td>
            </ng-template>
            <td><textarea #personSecondNameValue class="comment_area"></textarea></td>
          </tr>
          <tr>
            <td>Soetatud:</td>
            <td *ngIf="asset.isPurchased === true; else isPurchased">Jah</td>
            <ng-template #isPurchased>
              <td>Ei</td>
            </ng-template>
            <td>
              <mat-checkbox
                *ngIf="asset.isPurchased === true; else notPurchased"
                color="primary"
                [(ngModel)]="isChecked2"
              >
                Ei
              </mat-checkbox>
            </td>
            <ng-template #notPurchased>
              <mat-checkbox color="primary" [(ngModel)]="isChecked2">Jah</mat-checkbox>
            </ng-template>
          </tr>
          <tr>
            <td>Instituut/Allüksus nr.:</td>
            <td *ngIf="asset.structuralUnit === null; else institute">-</td>
            <ng-template #institute>
              <td>{{ asset.structuralUnit }}</td>
            </ng-template>
            <td><textarea #structuralUnit class="comment_area"></textarea></td>
          </tr>
          <tr>
            <td>Osakond nr.:</td>
            <td *ngIf="asset.subdivision === null; else subdivision">-</td>
            <ng-template #subdivision>
              <td>{{ asset.subdivision }}</td>
            </ng-template>
            <td><textarea #subdivisionValue class="comment_area"></textarea></td>
          </tr>
          <tr>
            <td>Eluea Jääk:</td>
            <td *ngIf="asset.lifeMonthsLeft === null; else lifeMonths">-</td>
            <ng-template #lifeMonths>
              <td>{{ asset.lifeMonthsLeft }}</td>
            </ng-template>
            <td><textarea #lifeMonthsLeft class="comment_area"></textarea></td>
          </tr>
          <tr>
            <td>Delikaatse sisuga:</td>
            <td *ngIf="asset.delicateCondition === true; else delicateCondition">Jah</td>
            <ng-template #delicateCondition>
              <td>Ei</td>
            </ng-template>
            <td>
              <mat-checkbox
                *ngIf="asset.delicateCondition === true; else notDelicate"
                color="primary"
                [(ngModel)]="isChecked3"
              >
                Ei
              </mat-checkbox>
            </td>
            <ng-template #notDelicate>
              <mat-checkbox color="primary" [(ngModel)]="isChecked3">Jah</mat-checkbox>
            </ng-template>
          </tr>
          <tr>
            <td colspan="3">
              <button
                (click)="
                  change(
                    name.value,
                    id.value,
                    priceValue.value,
                    residualPriceValue.value,
                    descriptionText.value,
                    selectClassification,
                    selectSubClassification,
                    isChecked,
                    buildingAbbreviation.value,
                    roomValue.value,
                    userId.value,
                    personNameValue.value,
                    personSecondNameValue.value,
                    isChecked2,
                    structuralUnit.value,
                    subdivisionValue.value,
                    lifeMonthsLeft.value,
                    isChecked3
                  )
                "
              >
                Muuda
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-template #goLogin>
  <app-login></app-login>
</ng-template>
