.container {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  padding: 1em;
}

.main {
  position: relative;
}

.section-from {
  padding-top: 10px;
}

.row-table {
  border-style: solid;
  border-color: #cb21d9;
  border-radius: 5px;
  padding: 1em;
  margin-left: 10em;
  margin-right: 10em;
}
