<div class="container">
  <table class="z-depth-1">
    <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col">{{ head }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of assets; let i = index">
        <td><input type="checkbox" /></td>
        <th scope="row">{{ el.id }}</th>
        <td>{{ el.name }}</td>
        <td>{{ el.modifiedAt }}</td>
        <td>{{ el.buildingAbbreviationPlusRoom }}</td>
        <td>{{ el.active }}</td>
        <td>{{ el.personName }}</td>
        <td class="buttons">
          <a routerLink="/property_detail/{{ el.id }}">Info</a>
          <button>On kohal</button>
          <button>Ei ole kohal</button>
        </td>
      </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="4">
          <!--        knopki-->
        </td>
      </tr>
    </tfoot>
  </table>
</div>
