<div class="container">
  <table class="styled-table">
    <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col">{{ head }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of assets; let i = index">
        <td><input type="checkbox" /></td>
        <th scope="row" routerLink="/property_detail/{{ el.id }}">{{ el.id }}</th>
        <td routerLink="/property_detail/{{ el.id }}">{{ el.name }}</td>
        <td routerLink="/property_detail/{{ el.id }}">{{ el.modifiedAt | date: 'medium' }}</td>
        <td routerLink="/property_detail/{{ el.id }}">{{ el.buildingAbbreviationPlusRoom }}</td>
        <td routerLink="/property_detail/{{ el.id }}">{{ el.active }}</td>
        <td routerLink="/property_detail/{{ el.id }}">{{ el.personName }}</td>
        <td class="buttons">
          <button>On kohal</button>
          <button>Ei ole kohal</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="10">
          <button (click)="fullBack()"><<</button>
          <button (click)="backward()"><</button>
          <button (click)="forward()">></button>
          <button (click)="fullForward()">>></button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
