<div class="main">
  <div class="section-table">
    <div class="containerTable">
      <table class="styled-table">
        <thead>
          <tr>
            <th *ngFor="let head of headElements; let i = index" scope="col">{{ head }}</th>
          </tr>
          <tr class="input-row" [formGroup]="filterForm">
            <td></td>
            <td><input formControlName="id" type="text" placeholder="Filter" class="form-control" /></td>
            <td><input formControlName="name" type="text" placeholder="Filter" class="form-control" /></td>
            <td>
              <input
                formControlName="buildingAbbreviationPlusRoom"
                type="text"
                placeholder="Filter"
                class="form-control"
              />
            </td>
            <td>
              <input formControlName="mainClassPlusSubclass" type="text" placeholder="Filter" class="form-control" />
            </td>
            <td><input formControlName="active" type="text" placeholder="Filter" class="form-control" /></td>
            <td><input formControlName="lifeMonthsLeft" type="text" placeholder="Filter" class="form-control" /></td>
            <td><input formControlName="checked" type="text" placeholder="Filter" class="form-control" /></td>
            <td><button type="button" (click)="filter()">Filtreeri</button></td>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let el of assets
                | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalElements }
            "
          >
            <td><input type="checkbox" /></td>
            <th scope="row">{{ el.id }}</th>
            <td>{{ el.name }}</td>
            <td *ngIf="el.buildingAbbreviationPlusRoom === null; else active">-</td>
            <ng-template #active>
              <td>{{ el.buildingAbbreviationPlusRoom }}</td>
            </ng-template>
            <td *ngIf="el.mainClassPlusSubclass === null; else active2">-</td>
            <ng-template #active2>
              <td>{{ el.mainClassPlusSubclass }}</td>
            </ng-template>
            <td>{{ el.active }}</td>
            <td>{{ el.lifeMonthsLeft }}</td>
            <td>{{ el.checked }}</td>
            <td class="buttons">
              <a routerLink="/property_detail/{{ el.id }}">Info</a>
              <button>On kohal</button>
              <button>Ei ole kohal</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10">
              <div class="lowerDiv">
                <pagination-controls (pageChange)="getPage((currentPage = $event))"> </pagination-controls>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
