.container {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.none {
  border: white;
  background-color: #f9f9f9;
}

.buttons {
  text-align: center;
}

a {
  padding: 0.2em 0.4em 0.2em 0.4em;
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
  border: thin solid #dddddd;
  border-radius: 4px;
}

a:hover {
  padding: 0.2em 0.4em 0.2em 0.4em;
  text-decoration: none;
  color: black;
  background-color: grey;
  border: thin solid #dddddd;
  border-radius: 4px;
}

::ng-deep .mat-sort-header-arrow {
  color: #a11aac;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #a11aac;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #a11aac;
}

.styled-table tbody tr:hover {
  background-color: darkgrey;
}

.lowerDiv {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.butt {
  margin-top: 0.8em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
