.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 2em;
}

.container2 {
  display: flex;
  flex-flow: row;
  margin-left: 2em;
}

h2 {
  margin-left: 1em;
}

button {
  margin-top: 1em;
  width: 6em;
}

tr {
  border-bottom: black;
}

td {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.1em;
}

table {
  width: 25%;
  padding: 0;
  margin-left: 2em;
  margin-top: 1em;
  border-style: groove;
}

.btn-outline-danger {
  color: #840692;
  border-color: #840692;
}

.btn:hover {
  background-color: #ed70f8;
}

.button-container {
  padding: 30em;
}
