<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div>
    <button *ngIf="getRoleSessionStorage() != null" mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span translate>Home</span>
    </button>
    <button
      *ngIf="getRoleSessionStorage() == 'Raamatupidaja'"
      mat-button
      routerLink="/add-asset"
      routerLinkActive="active"
    >
      <mat-icon>add</mat-icon>
      <span translate>Add asset</span>
    </button>
  </div>
  <span fxFlex></span>
  <app-language-selector *ngIf="getRoleSessionStorage() != null" icon="true"></app-language-selector>
  <button *ngIf="getRoleSessionStorage() != null" mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ userName }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu>
</mat-toolbar>
