<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>
  <div fxHide.lt-md>
    <button
      *ngIf="user != null"
      (click)="changeSessionStorage('home')"
      mat-button
      routerLink="/home"
      routerLinkActive="active"
    >
      <mat-icon>home</mat-icon>
      <span translate>Home</span>
    </button>
    <!--    <button-->
    <!--      *ngIf="user != null"-->
    <!--      (click)="changeSessionStorage('about')"-->
    <!--      mat-button-->
    <!--      routerLink="/about"-->
    <!--      routerLinkActive="active"-->
    <!--    >-->
    <!--      <mat-icon>info</mat-icon>-->
    <!--      <span translate>About</span>-->
    <!--    </button>-->
    <button
      *ngIf="user != null && (userRole == 'Raamatupidaja' || userRole == 'ÜksuseJuht')"
      (click)="changeSessionStorage('add-asset')"
      mat-button
      routerLink="/add-asset"
      routerLinkActive="active"
    >
      <mat-icon>add</mat-icon>
      <span translate>Add asset</span>
    </button>
  </div>
  <span fxFlex></span>
  <app-language-selector icon="true"></app-language-selector>
  <button *ngIf="user != null" mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ userName }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu>
</mat-toolbar>
